/*inherited from saxos.css*/
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    .header {
       position: absolute;
       width: 100%;
       z-index: 100000000;
       background-color: #7a7a7a;
       color: white;
       text-align: center;
       padding: -5px;
       animation:popup3 750ms;
       -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  @keyframes popup2 {
    0%{
      transform: translate(-50%, -50%) scale(0);
    }
    10%{
      transform: translate(-50%, -50%) scale(0.1);
    }
    20%{
      transform: translate(-50%, -50%) scale(0.2);
    }
    30%{
      transform: translate(-50%, -50%) scale(0.3);
    }
    40%{
      transform: translate(-50%, -50%) scale(0.4);
    } 
    50%{
      transform: translate(-50%, -50%) scale(0.5);
    }
    60%{
      transform: translate(-50%, -50%) scale(0.6);
    }
    70%{
      transform: translate(-50%, -50%) scale(0.7);
    }
    80%{
      transform: translate(-50%, -50%) scale(0.8);
    }
    90%{
      transform: translate(-50%, -50%) scale(0.9);
    }
    100%{
      transform: translate(-50%, -50%) scale(1);
    }
  }
    @keyframes popup3 {
    0%{
      transform: scale(0);
    }
    10%{
      transform: scale(0.1);
    }
    20%{
      transform: scale(0.2);
    }
    30%{
      transform: scale(0.3);
    }
    40%{
      transform: scale(0.4);
    } 
    50%{
      transform: scale(0.5);
    }
    60%{
      transform: scale(0.6);
    }
    70%{
      transform: scale(0.7);
    }
    80%{
      transform: scale(0.8);
    }
    90%{
      transform: scale(0.9);
    }
    100%{
      transform: scale(1);
    }
  }
  @keyframes mymove {
    from {top: 10000px;}
    to {top: 0px; animation: mymove2 5s;}
  }
  #mydivheader {
    padding: 3px;
    z-index: 10;
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Righteous', cursive;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  }  
    body {
    margin:0px;
    font-family: 'Source Code Pro';
    background-color: blue;
    background-repeat: no-repeat;
    background-size:1920px 1080px;
    height: 100%; 
      margin: 0;
    overflow: hidden;
  }
  
  #context-menu {
    position: absolute;
    z-index: 99999999999999;
    width:150px;
    background:#1b1a1a;
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  }
  #context-menu.active {
    transform:scale(1);
    transition:transform 300ms ease-in-out;
  }
  #context-menu .item {
    padding:8px 2px;
    font-size:13px;
    color:#eee;
  }
  #context-menu .item:hover {
    background:#555;
    font-size:14px;
    transition: all 0.3s;
  }
  #context-menu .item:active {
    background: green;
    font-size:14px;
    transition: all 0.3s;
  }
  
  #context-menu .item i {
    display:inline-block;
    margin-right:5px;
  }
  #context-menu hr {
    margin:2px 0px;
    border-color:#555;
  }
  .snap-left{
    position: fixed;
       left: 0;
       bottom: 0;
       text-align:left;
  }
  .snap-rite{
    position: absolute;
    top: 0px;
    right: 0.1px;
  }
  .snap-riteforuser{
    position: absolute;
    top: 0px;
    right: 70px;
  }
  
